#main-restaurant{
    background-color: rgb(255, 0, 0);
    margin: 0 auto;
    .havnekroa-opening-time-block{
        background-color: azure;
    }
    .havnekroa-linker-block{
        background-color: aliceblue;
    }
    .bilde-galleri{
        max-width: 100%;
    }
}

