// Våre farger
$primary: #AE9731;
$primary-light: lighten($primary, 50%);
$primary-dark: darken($primary, 25%);
$accent: #3148ae;
$accent-light: lighten($accent, 50%);
$accent-dark: darken($accent, 25%);
$shade-dark: #333333;
$shade-darkest: #000;
$shade-light: #CCCCCC;
$shade-lightest: #fff;

// Eksisterende variabler
$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__link: $shade-darkest;
$color__link-visited: $shade-darkest;
$color__link-hover: $primary;
$color__text-main: #404040;

$color__border-abbr: #666;

// $color__text-input: #666;
// $color__text-input-focus: #111;
// $color__border-input: #ccc;

