.site-header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: $size__site-navigation;
}

#page-navigation-padding {
  padding-top: $size__site-navigation;
}

.site-branding {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  align-items: center;

  .custom-logo-link {
    width: 128px;
  }
}

.site-navigation {
  flex-grow: 3;
  flex-direction: row;
  display: flex;

  .menu-hovedmeny-container {
    flex-grow: 1;
  }

  .nav-menu {
    display: none;
    flex-direction: column;
    justify-content: flex-end;
    background-color: white;
    padding: 0;
    list-style: none;
    margin: 0;

    @media screen and (min-width: 37.5em) {
      display: flex;
      flex-direction: row;
      background-color: transparent;
    }
  }

  &.toggled .nav-menu {
    display: flex;
    position: absolute;
    top: 8rem;
    right: 0;
    left: 0;
    width: 100%;
  }

  .nav-menu .menu-item {
    margin-left: 1em;
  }

  //   .current_page_item > a,
  //   .current-menu-item > a,
  //   .current_page_ancestor > a,
  //   .current-menu-ancestor > a {
  //   }
}

/* Small menu. */
.menu-toggle,
.site-navigation.toggled ul {
  display: block;
}

@media screen and (min-width: 37.5em) {
  .menu-toggle {
    display: none;
  }
}

.comment-navigation,
.posts-navigation,
.post-navigation {
  .site-main & {
    margin: 0 0 1.5em;
    overflow: hidden;
  }

  .nav-previous {
    float: left;
    width: 50%;
  }

  .nav-next {
    float: right;
    text-align: right;
    width: 50%;
  }
}
