input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea, select {
	color: $shade-darkest;
	border: 1px solid $shade-light;
	border-radius: 4px;
	padding: 0.2em 0.4em;

	&:focus,
	&:hover {
		color: $shade-darkest;
		border-color: $shade-dark;
	}
}

textarea {
	width: 100%;
	resize: vertical;
}
